spring.application.name=be
spring.profiles.active=dev
spring.datasource.url=jdbc:postgresql://localhost:5432/time_tracker
spring.datasource.username=postgres
spring.datasource.password=eka
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.security.oauth2.resourceserver.jwt.secret-key=example-secret-key-base64
spring.security.oauth2.authorizationserver.client.google.client-id=example-client-id
